<div class="login-wrapper">
  <div class="top-band"></div>
  <mat-card class="login-card mat-elevation-z12">
    <div class="brand-container">
      <div class="icon-circle">
        <img src="/icon.png" width="50" height="50" alt="logo">
      </div>
      <h2>Realtime Chat</h2>
      <p>{{ isLoginMode ? 'Login to your account' : 'Create a new account' }}</p>
    </div>
    <mat-card-content class="login-content">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" email placeholder="Enter your email" autocomplete="off"
          (keyup.enter)="submit()" required #emailRef="ngModel" [errorStateMatcher]="matcher">
        <mat-icon matPrefix color="primary">email</mat-icon>
        <mat-error *ngIf="emailRef.errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="emailRef.errors?.['email'] && !emailRef.errors?.['required']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!isLoginMode" appearance="outline" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="firstname" placeholder="Enter your first name" autocomplete="off"
          (keyup.enter)="submit()" #firstnameRef="ngModel" required [errorStateMatcher]="matcher">
        <mat-icon matPrefix color="primary">person</mat-icon>
        <mat-error *ngIf="firstnameRef.errors?.['required']">
          First name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!isLoginMode" appearance="outline" class="full-width">
        <mat-label>Last Name*</mat-label>
        <input matInput [(ngModel)]="lastname" placeholder="Enter your last name" autocomplete="off"
          (keyup.enter)="submit()" #lastnameRef="ngModel" required [errorStateMatcher]="matcher">
        <mat-icon matPrefix color="primary">person</mat-icon>
        <mat-error *ngIf="lastnameRef.errors?.['required']">
          Last name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" placeholder="Enter your password"
          (keyup.enter)="submit()" #passwordRef="ngModel" required [errorStateMatcher]="matcher">
        <mat-icon matPrefix color="primary">lock</mat-icon>
        <mat-error *ngIf="passwordRef.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!isLoginMode" appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" [(ngModel)]="confirmpassword" placeholder="Enter your confirm password"
          (keyup.enter)="submit()" #confirmpasswordRef="ngModel" required [errorStateMatcher]="matcher">
        <mat-icon matPrefix color="primary">lock</mat-icon>
        <mat-error *ngIf="confirmpasswordRef.errors?.['required']">
          Confirm Password is required
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" class="join-btn" (click)="submit()"
        [disabled]="isLoading || !isFormValid">
        {{ isLoading ? 'Please wait...' : (isLoginMode ? 'Login' : 'Register') }}
      </button>
      <div class="toggle-mode">
        <span *ngIf="isLoginMode">Don't have an account? <a href="javascript:void(0)"
            (click)="toggleMode()">Register</a></span>
        <span *ngIf="!isLoginMode">Already have an account? <a href="javascript:void(0)"
            (click)="toggleMode()">Login</a></span>
      </div>
    </mat-card-content>
  </mat-card>
</div>